#download_button_DIV_1 {
    block-size: 61px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-bottom-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    height: 61px;
    inline-size: 1575px;
    line-height: 24px;
    outline-color: rgb(51, 51, 51);
    perspective-origin: 787.5px 30.5px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-color: rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 787.5px 30.5px;
    width: 1575px;
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(51, 51, 51) none 0px;
}/*#download_button_DIV_1*/

#download_button_A_2 {
    background-color: rgb(12, 35, 63);
    block-size: 61px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    display: inline-block;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 61px;
    inline-size: 411.781px;
    letter-spacing: 4px;
    line-height: 24px;
    max-block-size: 84px;
    max-height: 84px;
    outline-color: rgb(99, 213, 211);
    padding-block-end: 12px;
    padding-block-start: 12px;
    padding-bottom: 12px;
    padding-inline-end: 25px;
    padding-inline-start: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    perspective-origin: 205.891px 30.5px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-decoration-line: none;
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 205.891px 30.5px;
    transition-duration: 0.3s;
    width: 411.781px;
    background: rgb(12, 35, 63) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
    padding: 12px 25px;
    transition: all 0.3s ease 0s;
}/*#download_button_A_2*/

#download_button_SPAN_3 {
    align-items: center;
    block-size: 37px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    display: flex;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 37px;
    inline-size: 361.781px;
    justify-content: center;
    letter-spacing: 4px;
    line-height: 24px;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 180.891px 18.5px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 180.891px 18.5px;
    width: 361.781px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
}/*#download_button_SPAN_3*/

#download_button_SPAN_4 {
    block-size: 37px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    display: block;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 37px;
    inline-size: 30px;
    letter-spacing: 4px;
    line-height: 24px;
    margin-inline-start: 16px;
    margin-left: 16px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    order: 15;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 15px 18.5px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 15px 18.5px;
    width: 30px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    margin: 0px 0px 0px 16px;
    outline: rgb(99, 213, 211) none 0px;
}/*#download_button_SPAN_4*/

#download_button_svg_5 {
    block-size: 30px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    inline-size: 30px;
    letter-spacing: 4px;
    line-height: 24px;
    outline-color: rgb(99, 213, 211);
    overflow-clip-margin: content-box;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective-origin: 15px 15px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 15px 15px;
    width: 30px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
    overflow: hidden;
}/*#download_button_svg_5*/

#download_button_path_6 {
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    fill: none;
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 24px;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 0px 0px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
}/*#download_button_path_6*/

#download_button_rect_7 {
    block-size: 20px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    inline-size: 2px;
    letter-spacing: 4px;
    line-height: 24px;
    opacity: 0.3;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform: matrix(1, 0, 0, 1, 16.099, 4);
    transform-origin: 0px 0px;
    width: 2px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
}/*#download_button_rect_7*/

#download_button_path_8 {
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 24px;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 0px 0px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
}/*#download_button_path_8*/

#download_button_rect_9 {
    block-size: 3px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    fill: rgb(99, 213, 211);
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 3px;
    inline-size: 26px;
    letter-spacing: 4px;
    line-height: 24px;
    opacity: 0.3;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform: matrix(1, 0, 0, 1, 4.099, 27);
    transform-origin: 0px 0px;
    width: 26px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
}/*#download_button_rect_9*/

#download_button_SPAN_10 {
    block-size: 24px;
    border-block-end-color: rgb(99, 213, 211);
    border-block-start-color: rgb(99, 213, 211);
    border-bottom-color: rgb(99, 213, 211);
    border-inline-end-color: rgb(99, 213, 211);
    border-inline-start-color: rgb(99, 213, 211);
    border-left-color: rgb(99, 213, 211);
    border-right-color: rgb(99, 213, 211);
    border-top-color: rgb(99, 213, 211);
    box-sizing: border-box;
    caret-color: rgb(99, 213, 211);
    color: rgb(99, 213, 211);
    column-rule-color: rgb(99, 213, 211);
    cursor: pointer;
    display: block;
    fill: rgb(99, 213, 211);
    flex-grow: 1;
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    inline-size: 315.781px;
    letter-spacing: 4px;
    line-height: 24px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    order: 10;
    outline-color: rgb(99, 213, 211);
    perspective-origin: 157.891px 12px;
    text-align: center;
    text-decoration: none solid rgb(99, 213, 211);
    text-decoration-color: rgb(99, 213, 211);
    text-emphasis-color: rgb(99, 213, 211);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 157.891px 12px;
    width: 315.781px;
    border: 0px none rgb(99, 213, 211);
    border-top: 0px none rgb(99, 213, 211);
    border-right: 0px none rgb(99, 213, 211);
    border-bottom: 0px none rgb(99, 213, 211);
    border-left: 0px none rgb(99, 213, 211);
    border-color: rgb(99, 213, 211);
    flex: 1 1 auto;
    font: 600 16px / 24px "Avenir Next", sans-serif;
    outline: rgb(99, 213, 211) none 0px;
}